<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>MVC Project</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- CSS links -->
<link rel="stylesheet" href="/resources/css/index.css">

</head>

<body>
	<div id=nav>
		<li><a href="/">Home</a></li>
		<li><a href="/employeeList">List of Bank</a></li>
		<li><a href="/contact">Contact Us</a></li>
		<li><a href="/employeeBenefits">Product/Services</a></li>
		<li><a href="/careers">Security</a></li>
	</div>
	<span style="font-size: 30px">The current visitor count is </span>
	<span style="font-size: 30px; color: blue" th:text="${pageCount}">noValue</span>
	<br>
	<table>
		<tr>
			<th>Employee ID</th>
			<th>Employee Name</th>
			<th>Mobile Number</th>
		</tr>
		<tr th:each="employee: ${employeeList}">
			<td th:text="${employee.employeeID}" />
			<td th:text="${employee.employeeName}" />
			<td th:text="${employee.mobileNumber}" />
	</table>
</body>
</html>